# System and IDE files
Thumbs.db
.DS_Store
.idea
*.suo
*.sublime-project
*.sublime-workspace

# Vendors
node_modules/

# Build
/npm-debug.log
/public/dist/*
dist/
.env
.env.dev
public/app.js
public/app.js.LICENSE.txt
public/css
src/server/**/*.js
src/server/**/*.map
