option_settings:
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
  aws:elasticbeanstalk:environment:process:default:
    DeregistrationDelay: '20'
    HealthCheckInterval: '15'
    HealthCheckPath: /
    HealthCheckTimeout: '5'
    HealthyThresholdCount: '3'
    UnhealthyThresholdCount: '5'
    Port: '80'
    Protocol: HTTP
    StickinessEnabled: 'true'

    
  # aws:elbv2:listener:443:
  #   DefaultProcess: https
  #   ListenerEnabled: 'true'
  #   Protocol: HTTPS
  # aws:elasticbeanstalk:environment:process:https:
  #   Port: '443'
  #   Protocol: HTTPS


  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /assets: public/assets
    /js: public/js
    /css: public/css
