<!DOCTYPE html>
<html>
    <head>
        <title>Spacefighter</title>
        <link rel="icon" href="/assets/favicons/favicon.ico">
    </head>
    <body>
        <div id="spacefighter"></div>
    </body>
</html>
